<?xml version="1.0" encoding="UTF-8"?>

<phpunit    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.0/phpunit.xsd"
            colors="true"
            bootstrap="vendor/autoload.php"
>

    <testsuites>
        <testsuite name="AopBundle Test Suite">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>Aop</directory>
            <directory>DependencyInjection</directory>
        </whitelist>
    </filter>

    <groups>
        <exclude>
            <group>performance</group>
        </exclude>
    </groups>
</phpunit>
